<!doctype html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58177112-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-58177112-1');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || "Jackson Tenclay" %></title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=Nma5J0pq07">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=Nma5J0pq07">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=Nma5J0pq07">
    <link rel="manifest" href="/site.webmanifest?v=Nma5J0pq07">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=Nma5J0pq07" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon.ico?v=Nma5J0pq07">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">

    <meta name="description" content="Jackson Tenclay is a web developer from Chicago.">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= current_page.data.title || "Jackson Tenclay" %>">
    <meta property="og:description" content="Jackson Tenclay is a web developer from Chicago.">
    <meta property="og:url" content="https://www.jacksontenclay.com/">
    <meta property="og:site_name" content="Jackson Tenclay">
    <meta property="og:image" content="https://www.jacksontenclay.com/apple-touch-icon.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="Jackson Tenclay is a web developer from Chicago.">
    <meta name="twitter:title" content="<%= current_page.data.title || "Jackson Tenclay" %>">
    <meta name="twitter:image" content="https://www.jacksontenclay.com/apple-touch-icon.png">
    <%= stylesheet_link_tag "site" %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag "bundle" %>
  </body>
</html>
