---
title: Music log | Jackson Tenclay
---

<% streaks_data = data['music-log-streaks'] %>
<% totals_data = data['music-log-totals'] %>
<% total_days = data['music-log-totals'][:total_days] %>
<% total_hours, total_minutes = totals_data['total_time'].divmod(60) %>

<div class="text-block">
  <a class="back-link" href="/">
    <svg viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <path d="M1,7 L13,7 Z"></path>
      <polyline points="5 11 1 7 5 3"></polyline>
    </svg>
    <div>
      Back home
    </div>
  </a>

  <p>
    I've played piano since I was a kid and majored in Music Performance in college. Afterwards, though, the lack of formal structure meant that it gradually left my life until I ended up giving my piano away a couple years after graduation.
  </p>
  <p>
    On June 12, 2019, after about five years without a piano, I finally missed it enough to cave in and get myself a new one. Worried that I might come to neglect it again, on June 20 I resolved to play some sort of music each day, with the hope that the time would add up to something meaningful. Here's some real-time data about how it's been going.
  </p>
  <h2>Minutes per day</h2>
  <p>
    This graph shows how the amount of time I’ve spent making music has changed over time. The initial intent was to keep it above 15 minutes per day; my current median time is <%= totals_data['median_time_per_day'] %> minutes.
  </p>
  <%= partial 'partials/_time-by-date-chart' %>
<!--   <ul>
    <% data['music-log-by-date'].reverse.each do |entry| %>
      <% hours, minutes = entry['duration'].divmod(60) %>

      <li>
        <%= entry['date'] %>: <%= entry['duration'] %> min
        (<%= hours %>:<%= format('%02d', minutes) %>)
      </li>
    <% end %>
  </ul>
  <p>
    Median minutes per session: <%= totals_data['median_time_per_entry'] %>
    <br>
    Median minutes per day: <%= totals_data['median_time_per_day'] %>
  </p> -->

  <h2>Totals and streaks</h2>
  <p>
    So far, I've spent <%= total_hours %> hours, <%= total_minutes %> minutes in intentional music practice. I don't count "incidental music" like singing along to songs, going to concerts, or inactive listening.
  </p>

  <p>
    My current streak is <%= streaks_data['streaks'].last.length %> days; my longest streak was <%= streaks_data['longest_streak'].length %> days (<%= Date.parse(streaks_data['longest_streak'].first['date']).strftime('%B %-d, %Y') %> to <%= Date.parse(streaks_data['longest_streak'].last['date']).strftime('%B %-d, %Y') %>).
  </p>
  <p>
    The intention is to make it to 1500 days in total (about 4 years), so I'm <%= (total_days / 15.0).round(1) %>% of the way there.
  </p>

  <h2>Time of day</h2>
  <p>
    This graph shows what percentage of my practice entries included a particular minute of the day.
  </p>
  <%= partial 'partials/_bar-chart' %>

  <%# <h2>Fine print</h2>
  <p>
    (rules for myself)
    - maybe call out the statistics hidden in paragraph text with a separate color ?
  </p> %>
</div>
